name: Spring Boot Backend CI

on:
  push:
    branches: [ "main" ]
    paths:
      - 'backend/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'backend/**'

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    # --- NOUVEAU : On lance un conteneur Mongo pour les tests ---
    services:
      mongo:
        image: mongo:latest
        ports:
          - 27017:27017
    # ------------------------------------------------------------

    defaults:
      run:
        working-directory: ./backend

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
        cache-dependency-path: backend/pom.xml

    - name: Grant execute permission for mvnw
      run: chmod +x mvnw

    # --- MODIFIÉ : On donne l'adresse du Mongo temporaire à Maven ---
    - name: Build with Maven
      # On dit à Spring : "Connecte-toi au Mongo qu'on vient de lancer"
      env:
        MONGO_URI: mongodb://localhost:27017/testdb
      run: ./mvnw clean package
    # ----------------------------------------------------------------

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Docker Image
      uses: docker/build-push-action@v5
      with:
        context: ./backend
        push: true
        tags: TON_PSEUDO_DOCKER/todo-backend:latest