name: Spring Boot CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    # On dit à GitHub : "Toutes les commandes s'exécutent dans le dossier 'backend'"
    defaults:
      run:
        working-directory: ./backend

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
        # C'est ici qu'on corrige le tir pour le cache :
        cache-dependency-path: backend/pom.xml

    - name: Grant execute permission for mvnw
      # Comme on est déjà dans ./backend grâce au 'defaults' plus haut, 
      # on appelle juste mvnw directement.
      run: chmod +x mvnw

    - name: Build with Maven
      # Le coeur du pipeline
      run: ./mvnw clean verify