name: Spring Boot CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    # On travaille toujours dans le dossier backend
    defaults:
      run:
        working-directory: ./backend

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
        cache-dependency-path: backend/pom.xml

    - name: Grant execute permission for mvnw
      run: chmod +x mvnw

    # 1. On compile et on teste (Maven)
    - name: Build with Maven
      run: ./mvnw clean package

    # 2. On construit l'image Docker (Juste pour vérifier que le build passe)
    - name: Build Docker Image
      # Le point . à la fin est crucial : il utilise le Dockerfile du dossier courant
      run: docker build -t todo:latest .