name: Frontend React CI

on:
  push:
    branches: [ "main" ]
    # Le pipeline ne se lance QUE si on touche au dossier frontend (Optimisation)
    paths:
      - 'frontend/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'frontend/**'

jobs:
  build-frontend:
    runs-on: ubuntu-latest

    # On définit le dossier de travail par défaut
    defaults:
      run:
        working-directory: ./frontend

    steps:
    # 1. Récupération du code
    - name: Checkout code
      uses: actions/checkout@v4

    # 2. Installation de Node.js (v20 LTS)
    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'
        cache-dependency-path: frontend/package-lock.json

    # 3. Installation des dépendances (npm install)
    - name: Install Dependencies
      # 'npm ci' est mieux pour la CI (Clean Install), mais 'npm install' est plus tolérant pour débuter
      run: npm install

    # 4. Vérification du Lint (Qualité de code)
    # Vérifie si tu as laissé des variables inutilisées ou des erreurs de syntaxe
    - name: Lint
      run: npm run lint
      continue-on-error: true # Pour l'instant on laisse passer les warnings lint (optionnel)

    # 5. Compilation (Build)
    # C'est l'étape CRITIQUE. Vite va lancer le compilateur TypeScript (tsc).
    # Si tu as une erreur de type (ex: string au lieu de number), ça pète ici.
    - name: Build Project
      run: npm run build

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Frontend
      uses: docker/build-push-action@v5
      with:
        context: ./frontend
        push: true
        tags: antoinderuel/todo-frontend:latest